<h1 class="category-title" data-category-name>{{category_data.name}}</h1>

{{> map}}

<div class="category-list--title-container">
  <h5 class="category-list--title">List of points</h5>

  {{#if user}}
    <a class="btn btn-success" href="/api/categories/{{category_data.id}}/edit">Edit</a>
  {{/if}}
</div>

<ul class="list-group">
  {{#each point_data}}
    <li id="{{this.id}}" class="list-group-item d-flex justify-content-between align-items-center">
      {{this.title}} | {{this.lat}}, {{this.long}}
    </li>
  {{/each}}
</ul>
