<h1 class="category-title" data-category-name>{{category_data.name}}</h1>

{{> map}}

{{#if user}}
  <a class="btn btn-success" style="float: right;" href="/api/categories/{{category_data.id}}/edit">Edit</a>
{{/if}}
<h5 class="category-list--title">List of points</h5>
<ul class="list-group">
   
  {{#each point_data}}
    <li id="{{this.id}}" class="list-group-item d-flex justify-content-between align-items-center">
      {{this.title}} | {{this.lat}}, {{this.long}}
    </li>
  {{/each}}
</ul>

<script>
  console.log("{{point_data}}");
</script>
