<div class="categories-table-container">
  <table class="categories-table">
    <thead>
      <tr>
        <th colspan="2">Current maps</th>
      </tr>
    </thead>
    <tbody>
      {{#each categories}}
      <tr class="category-table-row">
        <td><a href="/api/categories/{{this.id}}"><img src="{{this.image}}" alt="{{this.name}}" /></a></td>
        <td class="category-table-name"><a href="/api/categories/{{this.id}}">{{this.name}}</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
