{{> map}}

<h1 class="home-category--title">Current Categories</h1>

<div class="categories-grid" data-categories-grid>
  {{#each categories}}
    <a class="category-grid--link" href="/api/categories/{{this.id}}">
      <div class="category-grid--item">
        {{#if this.image}}
          <img src="{{this.image}}" alt="{{this.name}}" />
        {{else}}
          <div class="category-grid--no-image"></div>
        {{/if}}

        <div class="category-grid--info">
          <span>{{this.name}}</span>
          <span>{{this.description}}</span>
        </div>

        {{#if ../userIsAuthenticated}}
          {{> like-icon}}
        {{/if}}
      </div>
    </a>
  {{/each}}
</div>
