{{#if category_data}}
  <h1 class="category-title">{{category_data.name}}</h1>
{{else}}
  <h1 class="category-title">New Category</h1>
{{/if}}

{{> map}}

<form id="save-category-form" method="POST" action="/api/categories/" class="categories-form--new-save">
  <div class="form-group">
    <label for="title">Name</label>
    <input type="text" class="form-control" name="name" value="{{category_data.name}}">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" value="{{category_data.description}}">
  </div>

  <div>
    <label for="image">Image</label>
    <input type="text" class="form-control" name="image" value="{{category_data.image}}">
  </div>

  <!--<div class="custom-file">
    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
    <div class="invalid-feedback">Please select an image.</div>
  </div>-->

  <button type="submit" id="category-form-button" class="btn btn-primary">Submit</button>
</form>

<h5 class="category-list--title">List of points</h5>

<ul class="list-group"></ul>
