<h1>{{user.0.username}}'s Profile</h1>

<h4 class="categories-contributed--title">Contributed Categories</h4>

<div class="categories-grid" data-categories-grid>
  {{#each contributes}}
    <a class="category-grid--link" href="#">
      <div class="category-grid--item">
        {{#if this.image}}
          <img src="{{this.image}}" alt="{{this.name}}" />
        {{else}}
          <div class="category-grid--no-image"></div>
        {{/if}}

        <div class="category-grid--info">
          <span>{{this.name}}</span>
          <span>{{this.description}}</span>
        </div>

        {{> like-icon}}
      </div>
    </a>
  {{/each}}
</div>

<h4 class="categories-liked--title">Liked Categories</h4>

<div class="categories-grid" data-categories-grid>
  {{#each likes}}
    <a class="category-grid--link" href="#">
      <div class="category-grid--item">
        {{#if this.image}}
          <img src="{{this.image}}" alt="{{this.name}}" />
        {{else}}
          <div class="category-grid--no-image"></div>
        {{/if}}

        <div class="category-grid--info">
          <span>{{this.name}}</span>
          <span>{{this.description}}</span>
        </div>

        {{> like-icon}}
      </div>
    </a>
  {{/each}}
</div>
