<h1>{{user}}'s Profile</h1>

<h4 class="categories-contributed--title">Contributed Categories</h4>

<div class="categories-grid" data-categories-grid>
  {{#each contributes}}
    <div class="category-grid--item">
      <a class="category-grid--link" href="/api/categories/{{this.id}}">
        {{#if this.image}}
          <img src="{{this.image}}" alt="{{this.name}}" />
        {{else}}
          <div class="category-grid--no-image"></div>
        {{/if}}

        <div class="category-grid--info">
          <span>{{this.name}}</span>
          <span>{{this.description}}</span>
        </div>
      </a>

      {{#if ../userIsAuthenticated}}
        {{> like-icon}}
      {{/if}}
    </div>
  {{/each}}
</div>

<h4 class="categories-liked--title">Liked Categories</h4>

<div class="categories-grid" data-categories-grid>
  {{#each likes}}
    <div class="category-grid--item">
      <a class="category-grid--link" href="/api/categories/{{this.id}}">
        {{#if this.image}}
          <img src="{{this.image}}" alt="{{this.name}}" />
        {{else}}
          <div class="category-grid--no-image"></div>
        {{/if}}

        <div class="category-grid--info">
          <span>{{this.name}}</span>
          <span>{{this.description}}</span>
        </div>
      </a>

      {{#if ../userIsAuthenticated}}
        {{> like-icon}}
      {{/if}}
    </div>
  {{/each}}
</div>
