<h2>User Info</h2>
<h4>{{user.0.id}}</h4>
<h4>{{user.0.name}}</h4>
<h4>{{user.0.username}}</h4>

<h2>Likes</h2>
{{#each likes}}
  <h4>{{this.name}}</h4>
  <h4>{{this.description}}</h4>
  <h4>{{this.image}}</h4>
{{/each}}

<h2>Contributes</h2>
{{#each contributes}}
  <h4>{{this.name}}</h4>
  <h4>{{this.description}}</h4>
  <h4>{{this.image}}</h4>
{{/each}}
